*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #ffffff;
}
body {
    background: #0B0B0B;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.header {
    height: 100vh;
    position: absolute;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
}
.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}
.header-top {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}
.header-btn {
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    margin-top: 31px;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-btn div {
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    margin: 5px 0;
    
    
}
.header-content {
}
.header-content__tittle {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;
margin-bottom: 40px;
}
.header-content__text {
    max-width: 284px;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
}
.header-content__btn {
    display: inline-block;
    border: 1px solid #fff;
    padding: 30px 62px;
    background: rgba(255, 255, 255, 0.15);
    transition: .5s;
}
.header-content__btn:hover {
    background: #770302;
    
}
.close-btn {
    width: 50px;
    height: 50px;
    background-color:#0B0B0B;
    position: absolute;
    right: 15px;
    top: 31px;
    cursor: pointer;
    
}
.close-btn::after,
.close-btn::before{
    content: "";
    width: 70px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transform-origin:left;
}
.close-btn::after{
    transform: rotate(45deg);
    
}
.close-btn::before {
    transform: rotate(-45deg);
    bottom: -1px;
}
.container-menu {
    position: relative;
}
.menu.active {
    left: 0;
}
.menu {
    background: #0B0B0B;
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    transition:all .5s;
    z-index: 7;
}
.menu-list {
    display: flex;
    align-items: center;
    height: 100vh;
}
.menu-list ul {
    list-style: none;
}
.menu-list a {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    border-bottom:  3px solid #B70021;
    padding: 30px 25px 14px 0;
    display: inline-block;
    min-width: 368px;
    transition:all .5s;
}
.menu-list a:hover{
    border-color: #fff;
    color: #B70021;
    transform: scale(1.2);
    margin-left: 57px;
}
.slider-item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0B0B0B;
    border: none;
    padding: 0;
    font-size: 0;
    outline: none;
    cursor: pointer;
}
.slider .slick-dots .slick-active button{
    background-color: #fff;
}
.slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slider .slick-dots {
    margin:-55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1200px;
}
.specifications {
    padding: 105px 0 100px 0;
}
.specifications-descriptions {
    display: flex;
    justify-content: space-around;
    
   
    
}
.specifications-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}
.specification-name {
    font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
.specification-indicator {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 112px;
}
.specification-indicator span {
    font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
.specification-descr {
    font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
color: #B70021;
}
.advantages {
}
.container {
}
.advantages-items {
}
.advantages-item__speed{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 100px;
}
.speed-item__text span {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
}
.advantages-item__adv{
    display: flex;
    position: relative;
    margin-bottom: 100px;
}
.advantages-item__text {
    max-width: 303px;
    
    
}
.speed-item__text-decr {
    max-width: 303px;
    margin-top: 104px;
    
}
.advantages-item__text-descr {
    max-width: 251px;
    
    margin: 94px 0 0 56px;
}
.advantages-item__text span{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #B70021;
}
.advantages-item__images {
}
.presentation {
}
.container {
}
.presentation-item__text span {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #B70021;
}
.presentation-item__images {
    margin-bottom: 100px;
}
.presentation-items__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
    
}
.presentation-item__text {
    
}
.presentation-item__descr {
    max-width: 450px;
    margin-left: 105px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

}
.footer {
    background: #690102;
    padding: 83px 0 10px 0;
}
.container {
}
.footer-inner {
    display: flex;
    justify-content: center;
}
    

.header-content__btn {
    
}
.footer-list {
    
    
}
.footer-list ul {
    display: flex;
    justify-content: center;
    margin-top: 86px;
}
.footer-list ul li {
    list-style: none;
}
.footer-list ul li+li {
    border-left: 2px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
}